GET /doc/html/rfc9112 HTTP/2
Host: datatracker.ietf.org
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:122.0) Gecko/20100101 Firefox/122.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, deflate, br
Referer: https://developer.mozilla.org/
DNT: 1
Sec-GPC: 1
Connection: keep-alive
Cookie: cf_clearance=GKlD4uMf4EdnIq1cxOYREeBXKyC4a_KOwwUCZIM_Z2U-1705414143-1-ARp4xVh/6ETzeYjYWst27kfOVyB98LBd6usSNEVoiDSzvq4zdXfi8cm6KTJC2cQER7n1yVqYtL2HJvHoDu59HUo=
Upgrade-Insecure-Requests: 1
Sec-Fetch-Dest: document
Sec-Fetch-Mode: navigate
Sec-Fetch-Site: cross-site
Pragma: no-cache
Cache-Control: no-cache
